name: Publish Release

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  buildRelease:
    name: Build Release APK
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Set up JDK enviroment
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Python enviroment
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.13

      - name: Setup APK signing
        run: |
          echo -n ${{ secrets.SIGNING_KEY }} | base64 -d > app/storeFile.jsk
          echo storeFile=storeFile.jsk > custom.properties
          echo storePassword=${{ secrets.KEY_STORE_PASSWORD }} >> custom.properties
          echo keyAlias=${{ secrets.ALIAS }} >> custom.properties
          echo keyPassword=${{ secrets.KEY_PASSWORD }} >> custom.properties

      - name: Build app
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease -PlocalPropertiesFilePath=custom.properties

      - name: Create apk env info entries, move APK
        run: |
          python .github/build_scripts/extract_info.py

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          name: NovelDokusha v${{ env.APP_VERSION }}
          tag: v${{ env.APP_VERSION }}
          artifacts: |
            ${{ env.APK_FILE_PATH_release }}
          token: ${{ secrets.GITHUB_TOKEN }}
