name: Publish Release

on:
  workflow_dispatch:

jobs:
  buildRelease:
    name: Build Release APK
    runs-on: ubuntu-latest
    permissions:
      contents: write   # agar bisa membuat release
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Decode signing key
        run: |
          echo -n ${{ secrets.SIGNING_KEY }} | base64 -d > app/storeFile.jsk
          echo storeFile=storeFile.jsk > custom.properties
          echo storePassword=${{ secrets.KEY_STORE_PASSWORD }} >> custom.properties
          echo keyAlias=${{ secrets.ALIAS }} >> custom.properties
          echo keyPassword=${{ secrets.KEY_PASSWORD }} >> custom.properties
      
          
      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build release APK
        run: ./gradlew assembleRelease -PlocalPropertiesFilePath=custom.properties --no-daemon

      - name: Find APK path
        id: apk
        run: |
          set -euo pipefail
          APK_PATH=$(find app/build/outputs/apk -name "*release*.apk" | head -n 1)
          echo "APK_PATH=$APK_PATH" >> "$GITHUB_ENV"
          echo "APK_FILENAME=$(basename "$APK_PATH")" >> "$GITHUB_ENV"

      - name: Extract version & move APK
        run: |
          export APK_FILE_PATH_release="${{ env.APK_PATH }}"
          python .github/build_scripts/extract_info.py

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          name: NovelDokusha v${{ env.APP_VERSION }}
          tag_name: v${{ env.APP_VERSION }}
          files: ${{ env.APK_FILE_PATH_release }}
